.sign-in{
    width: 28%;
    margin-left: 7rem;
    margin-top: 9.3rem;


    .title-si{
        margin: 10px 0;
        background-image: linear-gradient(to right,rgb(59, 255, 206),rgb(27, 209, 209));
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 900;
        font-size: 1.7rem;
        //-webkit-text-stroke: 1.2px rgb(23, 97, 97);
    }

    .comment-su{
        color: black;
        font-weight: 600;
        font-size: 1.5rem;
        background-image: linear-gradient(to right,rgb(59, 255, 206),rgb(27, 209, 209));
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 500;
      }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}