.video-box{


    &__header{
        text-align: center;
    margin-top: 10rem;
    font-size: 2rem;    
    background-image: linear-gradient(to right, #3bffce, #1bd1d1);
    -webkit-background-clip: text;
    color: transparent;
    }

    &__videos{
        min-height: 18rem;
        background-color: white;
    }
}