.menu{
    display: contents;
      width: 100%;
     height: 240px;
        display: flex;
     align-items: center;
     justify-content: center;  
    top: 7rem;
     position: absolute;         
}