.sign-up {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 7rem;
    margin-top: 4rem;
  
    .title-su {
      margin: 10px 0;
   



    background-image: linear-gradient(to right,rgb(59, 255, 206),rgb(27, 209, 209));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
    font-size: 1.7rem;
    //-webkit-text-stroke: 1.2px rgb(23, 97, 97);
    }


    .comment-su{
      color: black;
      font-weight: 500;
      font-size: 1.5rem;
      background-image: linear-gradient(to right,rgb(59, 255, 206),rgb(27, 209, 209));
      -webkit-background-clip: text;
      color: transparent;
      font-weight: 500;
    }

    .fix{
      margin-left: 10rem;
    }
  }
  