.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-image: linear-gradient(to right , aqua,#000);;
  
    &__logo {
      height: 100%;
      width: 6rem;
      padding: 12px;
      background-color: whitesmoke;
      // transition: all 5s;


      .logo{
        transition: all 5s;
      
      &:hover{
        transform: rotate(1000deg);
      }
    }
  }
  
   
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      margin-right: 2rem;
      align-items: center;
      justify-content: flex-end;
      
  
      .option {
        padding: 10px 15px;
        text-decoration: none;
        color: aqua;
        //font-size: 1.4rem;
        text-transform: uppercase;
        transition: all .5s;
        //transform: rotate3d(3, 29, 23, 16deg);
        cursor: pointer;
        
        &:hover{
            background-color: #000;
            border-radius: 20px 0px 20px 0px;
            transform: translateY(-3px) scale(1.1);
           border-bottom: 2px solid gray;
         text-shadow: 6px 11px 2px rgba(92, 150, 150, 0.82);;
        }
      }
    }
  }
  