   
.menu-item{
    width: 40%;
         height: 240px;
         //flex: 1 1 auto;
         display: flex;
         align-items: center;
         justify-content: center;
         border: 1px solid white;
         margin: 0 7.5px 15px;
         align-self: start;
         position: relative;
         top: 6rem;
         transition: all .5s;
         cursor: pointer;
         color: whitesmoke;
         background-size: cover;
         background-position: center;

 
         &:hover{
           height: 31rem;
           top:-3rem;
             width: 80%;
             box-shadow: 44px 9px 65px 0px rgba(255, 255, 255, 0.897);
         }
 
 
         .content {
                   height: 90px;
                   padding: 0 25px;
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   justify-content: center;
                   border: 1px solid white;
                   position: absolute;
                   left: 0;
                   background-image: linear-gradient(45deg, black, transparent);
               
                   .title {
                     font-weight: bold;
                     margin-bottom: 6px;
                     font-size: 22px;
                     color: whitesmoke;
                   }
               
                   .subtitle {
                     font-weight: lighter;
                     font-size: 16px;
                   }
                 }
     
 }

 
 