.footer{
    background-color: black;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__header{
        color: aqua;
        font-size: 1rem;
        transform: perspective(15px);
       transition: all 1.2s;
        &:hover{
            transform: rotateX(45deg);
            text-shadow:  1px 10px 1px rgba(92, 150, 150, 0.82);

        }
        
    }
}