.search-box{
    width: 93%;
    display: flex;
   // background-color: yellowgreen;
    justify-content: space-around;
    align-items: center;
    margin-left:2rem;


    &__header{
        font-size: 2rem;
        background-image: linear-gradient(to right, #3bffce, #1bd1d1);
        -webkit-background-clip: text;
    color: transparent;
    }

    &__input{
        background: none;
        // background-color: white;
        position: relative;
        //left: 0rem;
         color: whitesmoke;
         font-size: 2rem;
         display: block;
         width: 50%;
         border: none;
         border-radius: 0;
         border-bottom: 1.5px solid aquamarine ;
         margin: 25px 0;
     
      
     
         &:focus {
           outline: none;
         }
         &::placeholder{
             font-size: 1.8rem;
             color: whitesmoke;
             opacity: .8;
             padding: .5rem;
             text-align: center;
             text-transform: uppercase;
         }
     
    }

}