.sign-in-and-sign-up{
    width: 100%;
    height: 38rem ;
    display: flex;
    justify-content: space-between;
    margin-top: -1.6rem;
    background-image: linear-gradient(to bottom right, #fff, #000, aqua);
    height: 40rem;
}