.homepage {
    display: flex;
    height: 40rem;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, #fff ,#000, aqua);
    margin-top: -2rem;
    //padding: 20px 80px;
    position: relative;
  }
